<div class="wrapper">
    <div class="cabecera">
        <img *ngIf="!loginService.usuario?.fotoPerfil" src="../../../../assets/img/perfil.jpg" alt="">
        <img *ngIf="loginService.usuario?.fotoPerfil"
            src="{{url_backend}}/obtener/imagen/{{loginService.usuario.fotoPerfil}}" alt="">
        <!-- Example split danger button <a (click)="irPerfil()"></a> -->

        <div class="btn-group">
            <button type="button" (click)="irPerfil()" class="btn btn-danger">{{nombreUsuario}}</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="irPerfil()">Ver mis datos</a></li>
                <li *ngIf="!loginService.isDisponible"><a class="dropdown-item" (click)="disponible()">Marcar disponible</a>
                </li>
                <li *ngIf="loginService.isDisponible"><a class="dropdown-item" (click)="ocupado()">Marcar ocupado</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a (click)="cerrarSesion()" class="dropdown-item">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</div>

<app-perfil *ngIf="estado_perfil" [estadoPerfil]="estado_perfil" (cerraPerfil)="estado_perfil = $event">
</app-perfil>

<div class="wrapper">
    <div class="contenedor">
        <button (click)="mostrarMapa()" class="btn btn-outline-danger form-control">Fijar ruta</button>
    </div>
</div>
<!--Fijar ruta de viaje este será un modal-->
<div>
    <app-mapbox-model *ngIf="visibleMapa" [estadoMapa]="visibleMapa" (cerrarMapa)="visibleMapa = $event">
    </app-mapbox-model>
</div>
<div>
    <app-det-taxista *ngIf="smtaxistaSelecionado" [taxista]="smtaxistaSelecionado" [estoDetalle]="estadoDetalle"
        [estadoReclamo]="estadoRe" (cerrarDetalle)="estadoDetalle = $event">
    </app-det-taxista>
</div>
<div class="wrapper">
    <h2 style="font-weight: bold;">Conductores disponibles:</h2>
</div>
<div class="wrapper" *ngIf="!conectado">   
    <div>
        <span>Iniciando servicio...</span>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" *ngIf="!conectado && !loginService.isDisponible()">
    <span style="color: red;">Servicio de taxi en proceso (Para realizar nuevas solicitudes finalize primero el taxi)</span>
</div>
<div *ngIf="conectado && loginService.isDisponible()">
    <div class="wrapper">
        <table style="width: 99%;" class="table table-hover">
            <!--Taxista 1-->
            <tr *ngIf="smservicioTaxiPedido1.taxista?.idtaxista">
                <td>
                    <img class="img-perfil" *ngIf="!smservicioTaxiPedido1.taxista?.fotoPerfil"
                        src="../../../../assets/img/perfil.jpg" alt="">
                    <img class="img-perfil" *ngIf="smservicioTaxiPedido1.taxista?.fotoPerfil"
                        src="{{url_backend_taxista}}/{{smservicioTaxiPedido1.taxista.fotoPerfil}}" alt="">
                </td>
                <td>
                    {{smservicioTaxiPedido1.taxista.nombre}}, {{smservicioTaxiPedido1.taxista.apellidos}}
                </td>
                <td>
                    {{smservicioTaxiPedido1.taxista.calificacion.promedio}} es
                </td>
                <td>
                    <button class="btn btn-outline-danger" (click)="verDetalle(smservicioTaxiPedido1.taxista)">
                        Detalle
                    </button>
                </td>
                <td>
                    <button *ngIf="estadoSolicitar1" class="btn btn-outline-primary"
                        (click)="enviarPedido1()">Solicitar</button>
                    <button *ngIf="!estadoSolicitar1" class="btn btn-outline-danger"
                        (click)="cancelarPedido1()">Cancelar</button>
                </td>

            </tr>
            <tr *ngIf="estadoTaxista1">
                <td *ngIf="!estadoRespuesta1" colspan="5">
                    {{mensaje1}} <span style="color: blue; font-weight: bold;">0{{minuto1}} : {{segundo1}}</span>
                </td>
                <td *ngIf="estadoRespuesta1" colspan="5">
                    <table #asTable1 [ngClass]="{'stilo-modal': resaltar1 === 'si'}">
                        <tr #asTr1 [ngClass]="{'wrapper2': resaltar1 === 'si'}">
                            <td colspan="3">
                                {{mensaje1}} <span style="color: blue; font-weight: bold;">0{{minuto1}} :
                                    {{segundo1}}</span>
                            </td>
                            <td style="background: yellow; color: black;">
                                S/. {{smservicioTaxiPedido1.precio}}
                            </td>
                            <td>
                                <button [disabled]="estadoAceptar" class="boton-aceptar" (click)="aceptarPedido1()">
                                    <img class="img-stilo" src="../../../../assets/img/aceptar.png" alt="">
                                </button>
                                <button (click)="rechazarPedido1()" class="boton-cancelar">
                                    <img class="img-stilo" src="../../../../assets/img/cancelar.jpg" alt="">
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!--Taxista 2-->
            <tr *ngIf="smservicioTaxiPedido2?.taxista?.idtaxista">
                <td>
                    <img class="img-perfil" *ngIf="!smservicioTaxiPedido2.taxista?.fotoPerfil"
                        src="../../../../assets/img/perfil.jpg" alt="">
                    <img class="img-perfil" *ngIf="smservicioTaxiPedido2.taxista?.fotoPerfil"
                        src="{{url_backend_taxista}}/{{smservicioTaxiPedido2.taxista.fotoPerfil}}" alt="">
                </td>
                <td>
                    {{smservicioTaxiPedido2.taxista.nombre}}, {{smservicioTaxiPedido2.taxista.apellidos}}
                </td>
                <td>
                    {{smservicioTaxiPedido2.taxista.calificacion.promedio}} es
                </td>
                <td>
                    <button class="btn btn-outline-danger"
                        (click)="verDetalle(smservicioTaxiPedido2.taxista)">Detalle</button>

                </td>
                <td>
                    <button *ngIf="estadoSolicitar2" class="btn btn-outline-primary"
                        (click)="enviarPedido2()">Solicitar</button>
                    <button *ngIf="!estadoSolicitar2" class="btn btn-outline-danger"
                        (click)="cancelarPedido2()">Cancelar</button>
                </td>
            </tr>
            <tr *ngIf="estadoTaxista2">
                <td *ngIf="!estadoRespuesta2" colspan="5">
                    {{mensaje2}} <span style="color: blue; font-weight: bold;">{{minuto2}} : {{segundo2}}</span>
                </td>
                <td *ngIf="estadoRespuesta2" colspan="5">
                    <table #asTable2 [ngClass]="{'stilo-modal': resaltar2 === 'si'}">
                        <tr #asTr2 [ngClass]="{'wrapper2': resaltar2 === 'si'}">
                            <td colspan="3">
                                {{mensaje2}} <span style="color: blue; font-weight: bold;">0{{minuto2}} :
                                    {{segundo2}}</span>
                            </td>
                            <td style="background: yellow; color: black;">
                                S/. {{smservicioTaxiPedido2.precio}}
                            </td>
                            <td>
                                <button [disabled]="estadoAceptar" class="boton-aceptar" (click)="aceptarPedido2()">
                                    <img class="img-stilo" src="../../../../assets/img/aceptar.png" alt="">
                                </button>
                                <button (click)="rechazarPedido2()" class="boton-cancelar">
                                    <img class="img-stilo" src="../../../../assets/img/cancelar.jpg" alt="">
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!--Taxista 3-->
            <tr *ngIf="smservicioTaxiPedido3?.taxista?.idtaxista">
                <td>
                    <img class="img-perfil" *ngIf="!smservicioTaxiPedido3.taxista?.fotoPerfil"
                        src="../../../../assets/img/perfil.jpg" alt="">
                    <img class="img-perfil" *ngIf="smservicioTaxiPedido3.taxista?.fotoPerfil"
                        src="{{url_backend_taxista}}/{{smservicioTaxiPedido3.taxista.fotoPerfil}}" alt="">
                </td>
                <td>
                    {{smservicioTaxiPedido3.taxista.nombre}}, {{smservicioTaxiPedido3.taxista.apellidos}}
                </td>
                <td>
                    {{smservicioTaxiPedido3.taxista.calificacion.promedio}} es
                </td>
                <td>
                    <button class="btn btn-outline-danger"
                        (click)="verDetalle(smservicioTaxiPedido3.taxista)">Detalle</button>
                </td>
                <td>
                    <button *ngIf="estadoSolicitar3" class="btn btn-outline-primary"
                        (click)="enviarPedido3()">Solicitar</button>
                    <button *ngIf="!estadoSolicitar3" class="btn btn-outline-danger"
                        (click)="cancelarPedido3()">Cancelar</button>
                </td>
            </tr>
            <tr *ngIf="estadoTaxista3">
                <td *ngIf="!estadoRespuesta3" colspan="5">
                    {{mensaje3}} <span style="color: blue; font-weight: bold;">{{minuto3}} : {{segundo3}}</span>
                </td>
                <td *ngIf="estadoRespuesta3" colspan="5">
                    <table #asTable3 [ngClass]="{'stilo-modal': resaltar3 === 'si'}">
                        <tr #asTr3 [ngClass]="{'wrapper2': resaltar3 === 'si'}">
                            <td colspan="3">
                                {{mensaje3}} <span style="color: blue; font-weight: bold;">0{{minuto3}} :
                                    {{segundo3}}</span>
                            </td>
                            <td style="background: yellow; color: black;">
                                S/. {{smservicioTaxiPedido3.precio}}
                            </td>
                            <td>
                                <button [disabled]="estadoAceptar" class="boton-aceptar" (click)="aceptarPedido3()">
                                    <img class="img-stilo" src="../../../../assets/img/aceptar.png" alt="">
                                </button>
                                <button (click)="rechazarPedido3()" class="boton-cancelar">
                                    <img class="img-stilo" src="../../../../assets/img/cancelar.jpg" alt="">
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!--Taxista 4-->
            <tr *ngIf="smservicioTaxiPedido4?.taxista?.idtaxista">
                <td>
                    <img class="img-perfil" *ngIf="!smservicioTaxiPedido4.taxista?.fotoPerfil"
                        src="../../../../assets/img/perfil.jpg" alt="">
                    <img class="img-perfil" *ngIf="smservicioTaxiPedido4.taxista?.fotoPerfil"
                        src="{{url_backend_taxista}}/{{smservicioTaxiPedido4.taxista.fotoPerfil}}" alt="">
                </td>
                <td>
                    {{smservicioTaxiPedido4.taxista.nombre}}, {{smservicioTaxiPedido4.taxista.apellidos}}
                </td>
                <td>
                    {{smservicioTaxiPedido4.taxista.calificacion.promedio}} es
                </td>
                <td>
                    <button class="btn btn-outline-danger"
                        (click)="verDetalle(smservicioTaxiPedido4.taxista)">Detalle</button>

                </td>
                <td>
                    <button *ngIf="estadoSolicitar4" class="btn btn-outline-primary"
                        (click)="enviarPedido4()">Solicitar</button>
                    <button *ngIf="!estadoSolicitar4" class="btn btn-outline-danger"
                        (click)="cancelarPedido4()">Cancelar</button>
                </td>
            </tr>
            <tr *ngIf="estadoTaxista4">
                <td *ngIf="!estadoRespuesta4" colspan="5">
                    {{mensaje4}} <span style="color: blue; font-weight: bold;">{{minuto4}} : {{segundo4}}</span>
                </td>
                <td *ngIf="estadoRespuesta4" colspan="5">
                    <table #asTable4 [ngClass]="{'stilo-modal' : resaltar4 === 'si'}">
                        <tr #asTr4 [ngClass]="{'wrapper2' : resaltar4 === 'si'}">
                            <td colspan="3">
                                {{mensaje4}} <span style="color: blue; font-weight: bold;">0{{minuto4}} :
                                    {{segundo4}}</span>
                            </td>
                            <td style="background: yellow; color: black;">
                                S/. {{smservicioTaxiPedido4.precio}}
                            </td>
                            <td>
                                <button [disabled]="estadoAceptar" class="boton-aceptar" (click)="aceptarPedido4()">
                                    <img class="img-stilo" src="../../../../assets/img/aceptar.png" alt="">
                                </button>
                                <button (click)="rechazarPedido4()" class="boton-cancelar">
                                    <img class="img-stilo" src="../../../../assets/img/cancelar.jpg" alt="">
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!--Taxista 5-->
            <tr *ngIf="smservicioTaxiPedido5?.taxista?.idtaxista">
                <td>
                    <img class="img-perfil" *ngIf="!smservicioTaxiPedido5.taxista?.fotoPerfil"
                        src="../../../../assets/img/perfil.jpg" alt="">
                    <img class="img-perfil" *ngIf="smservicioTaxiPedido5.taxista?.fotoPerfil"
                        src="{{url_backend_taxista}}/{{smservicioTaxiPedido5.taxista.fotoPerfil}}" alt="">
                </td>
                <td>
                    {{smservicioTaxiPedido5.taxista.nombre}}, {{smservicioTaxiPedido5.taxista.apellidos}}
                </td>
                <td>
                    {{smservicioTaxiPedido5.taxista.calificacion.promedio}} es
                </td>
                <td>
                    <button class="btn btn-outline-danger"
                        (click)="verDetalle(smservicioTaxiPedido5.taxista)">Detalle</button>

                </td>
                <td>
                    <button *ngIf="estadoSolicitar5" class="btn btn-outline-primary"
                        (click)="enviarPedido5()">Solicitar</button>
                    <button *ngIf="!estadoSolicitar5" class="btn btn-outline-danger"
                        (click)="cancelarPedido5()">Cancelar</button>
                </td>
            </tr>
            <tr *ngIf="estadoTaxista5">
                <td *ngIf="!estadoRespuesta5" colspan="5">
                    {{mensaje5}} <span style="color: blue; font-weight: bold;">{{minuto5}} : {{segundo5}}</span>
                </td>
                <td *ngIf="estadoRespuesta5" colspan="5">
                    <table #asTable5 [ngClass]="{'stilo-modal' : resaltar5 === 'si'}">
                        <tr #asTr5 [ngClass]="{'wrapper2' : resaltar5 === 'si'}">
                            <td colspan="3">
                                {{mensaje5}} <span style="color: blue; font-weight: bold;">0{{minuto5}} :
                                    {{segundo5}}</span>
                            </td>
                            <td style="background: yellow; color: black;">
                                S/. {{smservicioTaxiPedido5.precio}}
                            </td>
                            <td>
                                <button [disabled]="estadoAceptar" class="boton-aceptar" (click)="aceptarPedido5()">
                                    <img class="img-stilo" src="../../../../assets/img/aceptar.png" alt="">
                                </button>
                                <button (click)="rechazarPedido5()" class="boton-cancelar">
                                    <img class="img-stilo" src="../../../../assets/img/cancelar.jpg" alt="">
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

</div>

<div class="wrapper">
    <div>
        <h2>Historial:</h2>
        <table style="width: 98%;" class="table table-striped">
            <tr class="text-center">
                <th>Detalle</th>
                <th>Día</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
            <tr *ngFor="let servicios of smservicioTaxis">
                <td>
                    <table>
                        <tr>
                            <td><span style="font-weight: bold;">Origen: </span> {{servicios.ubicacion.origen}}</td>
                        </tr>
                        <tr>
                            <td><span style="font-weight: bold;">Destino: </span> {{servicios.ubicacion.destino}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    {{servicios.fecha | date: 'dd/MM'}}
                </td>
                <td>
                    {{servicios.estado}}
                </td>
                <td>
                    <table>
                        <tr class="text-center">
                            <td>
                                <button (click)="ver(servicios)" class="btn btn-outline-primary">Ver</button>
                            </td>
                        </tr>
                        <tr *ngIf="servicios.estado == 'Iniciado'">
                            <td>
                                <button (click)="finalizar(servicios)"
                                    class="btn btn-outline-primary">Finalizar</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div>
            <span style="color: red;" *ngIf="mensajeServicios">{{mensajeServicios}}</span>
        </div>
    </div>
</div>

<!--<a href="https://www.google.com/maps/@${{lat}},${{lng}},20z">Visitar</a>-->