<div class="stilo-modal" *ngIf="estadoMapatax">
    <div class="contenedor">
        <div class="wrapper">        
            <div style="margin-left: 90%;">
                <span (click)="cerrarModal()" style="font-weight: bold; font-size: 20px; color: red; cursor: pointer;">X</span>
            </div>
    
        </div>
        <div class="wrapper">
            <div class="box-inputs">
                <div *ngIf="smservicioTaxi">
                    <div class="form-group">
                        <label for="tipo">Tipo</label>
                        <select name="tipo" [(ngModel)]="smservicioTaxi.ubicacion.tipo" class="form-control" aria-readonly="true">
                            <option value="">-- Selecione --</option>
                            <option value="Pasajero">Pasajero</option>
                            <option value="Envio">Envío de algun producto</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="origen">Referencia al punto de partida</label>
                        <input type="text" name="origen" [(ngModel)]="smservicioTaxi.ubicacion.origen" readonly class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="destino">Escriba una referencia a su punto destino</label>
                        <input type="text" name="destino" [(ngModel)]="smservicioTaxi.ubicacion.destino" readonly class="form-control">
                    </div>
                    <div class="form-group">
                        <span style="color: blue;">Nota : </span>
                        <span>
                            Los puntos de origen y destino se marcan a continuación, el marcador rojo representa al punto de origen
                            y el marcador color azul representa el punto de destino, verifique detalladamente y tome una desición.
                        </span>
                    </div> 
                    <div class="form-group">
                        <button [disabled]="!botonReclamo" (click)="reportar()" class="btn btn-outline-danger">Informar reclamo</button>
                    </div>                   
                </div>                
    
                <div id="geocoder" #asGeocoder class="geocoder">
    
                </div>
    
                <div [ngClass]="{'active-way': modeInput === 'start'}">
                    <div class="mock-label">Detalle</div>
                    <div class="mock-input">{{wayPoints?.start?.place_name}}</div>
                </div>
    
            </div>
            
        </div>
        <div class="wrapper">
            <div id="map" #asMap class="map-container">
    
            </div>
        </div>
    </div>
    
</div>
