<div class="stilo-modal" *ngIf="estadoMapatax">
    <div class="contenedor">
        <div class="wrapper">        
            <div style="margin-left: 90%;">
                <span (click)="cerrarModal()" style="font-weight: bold; font-size: 20px; color: red; cursor: pointer;">X</span>
            </div>    
        </div>
        <div class="wrapper">
            <div class="box-inputs">
                <div *ngIf="smservicioTaxi">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span style="color: blue;">Tipo de servicio : </span>
                            {{smservicioTaxi.ubicacion.tipo}}
                        </li>
                        <li class="list-group-item">
                            <span style="color: blue;">Ubicacion y referencia al punto de partida : </span>
                            {{smservicioTaxi.ubicacion.origen}}
                        </li>
                        <li class="list-group-item">
                            <span style="color: blue;">Ubicacion y referencia al punto destino : </span>
                            {{smservicioTaxi.ubicacion.destino}}
                        </li>
                        <li class="list-group-item">
                            <span style="color: blue;">Distancia estimado : </span> {{smservicioTaxi.ubicacion.distanciaestimado}} km 
                            <br>
                            <span style="color: blue;">Tiempo estimado : </span> {{smservicioTaxi.ubicacion.tiempoestimado}} min
                        </li>
                        <li class="list-group-item">
                            <span style="color: blue;">Nota : </span>
                            <span>
                                <img src="../../../../assets/img/marcadorAzul.png" style="height: 30px; width: 30px; object-fit: cover;">    Marcador azul: Origen
                    <img src="../../../../assets/img/marcadorRojo.jpg" style="height: 30px; width: 30px; object-fit: cover;">Marcador rojo: Destino
                            </span>
                        </li>
                    </ul>                  
                                        
                    <div class="form-group">
                        <button [disabled]="!botonReclamo" (click)="reportar()" class="btn btn-outline-danger">Informar reclamo</button>
                    </div> 

                </div>                
    
                <div id="geocoder" #asGeocoder class="geocoder">
    
                </div>
    
                <div [ngClass]="{'active-way': modeInput === 'start'}">
                    <div class="mock-label">Detalle</div>
                    <div class="mock-input">{{wayPoints?.start?.place_name}}</div>
                </div>
    
            </div>
            
        </div>
        <div class="wrapper">
            <div id="map" #asMap class="map-container">
    
            </div>
        </div>
    </div>
    
</div>
