.conductor{
    display: -ms-grid;
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    gap: 1rem;
    width: 100%;
    background: rgb(248, 117, 117);
    color: white;
}

.img-perfil {
    width: 2.5rem;
    height: 2.5rem;
    margin: auto;
    border-radius: 50% ;
    border: 2.5px solid rgb(0, 253, 0);
}

.wrapper{
    padding: .5rem;
    display: flex;
    justify-content: center;
}
.boton-recargar {
    border-style: none;
    height: 33px;
    padding: 0px;
    background-color: white;

}
.img-stilo{
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50% ;    
    object-fit: cover;
}
tbody tr:hover {background-color: rgb(17, 173, 28);
    color: aliceblue;}