<div class="wrapper">
    <div class="conductor">
        <img class="img-perfil" *ngIf="!loginService.usuario?.fotoPerfil" src="../../../../assets/img/perfil.jpg"
            alt="">
        <img class="img-perfil" *ngIf="loginService.usuario?.fotoPerfil"
            src="{{url_backend}}/obtener/imagen/{{loginService.usuario.fotoPerfil}}" alt="">
        <!--<h4 (click)="irPerfil2()">Usuario: - 28192813</h4>-->
        <div class="btn-group">
            <button type="button" class="btn btn-danger">{{nombreUsuario}}</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="verSolicitudes()">Ver solicitudes</a></li>
                <li><a class="dropdown-item"></a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a (click)="cerrarSesion()" class="dropdown-item">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="card">
        <div class="card-header">
            <h4 *ngIf="!estadoPago" style="text-transform: uppercase; font-family: Times New Roman, Times, serif;">Su facturación estará disponible al transcurso de los 15 días desde el último día de
                pago</h4>
            <h4 *ngIf="estadoPago">Efectuar pago</h4>
        </div>
        <div class="card-body" *ngIf="estadoPago">
            <div class="row" *ngIf="pago?.idpago">
                <div class="col-sm">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            Nueva facturación
                        </li>
                        <li class="list-group-item">
                            <span style="color: blue;">Fecha de creación : </span> {{pago.fecha}}
                        </li>
                        <li class="list-group-item">
                            <span style="color: blue;">Estado : </span> {{pago.estado}}
                        </li>
                        <li class="list-group-item"><span style="color: blue;">
                                Sub total : </span>s/. {{pago.subtotal}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="wrapper">
                    <h5 style="font-weight: bold; text-transform: uppercase; font-family: Times New Roman, Times, serif;" >FORMAS DE PAGO</h5>
                    <h5 style="font-weight: bold;">Use una de las dos formas</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <fieldset style="border: black solid 2px;">
                        <div class="form-group">
                            <ul class="list-group">
                                <li class="list-group-item active" style="text-transform: uppercase; font-family: Times New Roman, Times, serif;">
                                    PAGO CON TARGETA
                                </li>
                                <li class="list-group-item">
                                    <span style="color: blue;">Nota : </span><span>Está sujeto a comisión</span>
                                    <span style="color: blue;">Comisión : </span> {{comision}}
                                </li>
                                <li class="list-group-item">
                                    <span style="color: blue;">Total : </span> s/. {{total1}}
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>Forma de pago</label>
                            <select (change)="seleccionFormaPago($event)" class="form-control">
                                <option value="">--Seleccione--</option>
                                <option value="Visa">Visa / Master Card</option>
                                <option value="American">American Express</option>
                                <option value="Diners">Diners Club</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="wrapper">
                                <button (click)="continuar()" class="btn btn-outline-primary">Continuar</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-6">
                    <fieldset style="border: black solid 2px;">
                        <div class="form-group">
                            <ul class="list-group">
                                <li class="list-group-item active" style="text-transform: uppercase; font-family: Times New Roman, Times, serif;">
                                    PAGO CON MONEDERO DIGITAL
                                </li>
                                <li class="list-group-item">
                                    <span style="color: blue;">Total : </span> s/. {{total2}}
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <span>Los medios de pago permitidos son YAPE: 914900491 y TUNKI: 914900491</span>
                            <span>Page y suba la captura de su comprobante </span>
                        </div>
                        <div class="form-group">
                            <label>Comprobante</label>
                            <input type="file" class="form-control" (change)="capturarImagen($event)">
                            <div>
                                <span *ngIf="noImagen">{{noImagen}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="wrapper">
                                <button (click)="confirmar()" class="btn btn-outline-primary">Confirmar pago</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="wrapper">
    <div>
        <h5 style="text-transform: uppercase; font-family: Times New Roman, Times, serif;">Historial de pagos</h5>
        <table style="width: 100%;" class="table table-striped">
            <thead>
                <tr>

                    <td>
                        <button (click)="buscar()" class="btn btn-outline-green">Buscar</button>

                    </td>
                    <td>
                        <input class="form-control" type="date" name="fecha" [(ngModel)]="data.fecha">
                    </td>
                    <td>
                        <button (click)="listar()" class="boton-recargar"><img class="img-stilo"
                                src="../../../../assets/img/recargar.jpg" alt=""></button>
                    </td>

            </thead>
            <tbody>
                <tr>
                    <th>#</th>
                    <th>Codigo</th>
                    <th> Fecha</th>
                    <th>Total</th>
                </tr>
                <tr *ngFor="let pago of pagos">
                    <td *ngIf="!pago?.comprobante">

                        <p *ngIf="!pago?.comprobante">{{pago.idpago}}</p>
                        <p *ngIf="pago?.comprobante">
                            <img style="width: 50px; height: 50px;"
                                src="{{url_backend}}/pago/imagen/{{pago.comprobante}}" alt="">
                        </p>

                    </td>
                    <td>

                        {{pago.codigo}}
                    </td>

                    <td>
                        <table>
                            <tr>
                                <td *ngIf="!pago?.comprobante">{{pago.idpago}}</td>
                                <td *ngIf="pago?.comprobante">
                                    <img style="width: 50px; height: 50px;" src="{{url_backend}}/pago/imagen/{{pago.comprobante}}" alt="">
                                </td>
                            </tr>
                        </table>
                    </td>                   
                    <td>

                        S/. {{pago.total}}
                    </td>
                </tr>
      
        </tbody>
        </table>
    </div>
</div>