<div class="wrapper">
    <div class="card">
        <div class="card-header">
            <h5>Crear nuevo administrativo</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <h5>Cotización del dolar y agrege funcionalidad para envío de productos</h5>
            </div>
            <div class="row"  style="background-color: rgb(208, 208, 208);">
                
                <div class="col-4">
                    <div class="form-group">
                        <label >Precio del dolar:</label>
                        <input type="number" name="valor" [(ngModel)]="dolar.valor" class="form-control">
                    </div>
                    <div class="form-group" style="margin-top: 1rem; margin-bottom: 1rem;">
                        <label>Envio de productos:</label>                        
                        <select name="tipo" name="envioProductos" [(ngModel)]="dolar.envioProductos" class="form-control">
                            <option value="">-- Selecione --</option>
                            <option value="Activo">Activo</option>
                            <option value="Desactivo">Desactivo</option>
                        </select>
                    </div>                    
                </div>
                <div class="col-4">
                    <div class="from-group mt-4">
                        <button (click)="guardarDolar()" class="from-control btn-outline-primary btn">Enviar</button>
                    </div>
                </div>
                <div class="col-4" *ngIf="dolar1?.id">
                    <div class="from-group">
                        <h5>Valores actuales</h5>
                    </div>
                    <div class="from-group">
                        <span style="color: blue;">Valor</span>{{dolar1.valor}}
                    </div>
                    <div class="from-group">
                        <span style="color: blue;">Envío</span>{{dolar1.envioProductos}}
                    </div>                    
                </div>
            </div>
            <div class="row">
                <form (ngSubmit)="enviar($event)" #asForm="ngForm">
                    <div class="row">
                        <div class="col-sm">                            
                            <div class="form-group">
                                <label for="dni">Documento:</label>
                                <input type="text" name="dni" [(ngModel)]="administrativo.dni" required="true"
                                    pattern="^[0-9]\d{7,7}$" #asDni="ngModel" class="form-control">
                                <div *ngIf="asDni.invalid && (asDni.touched || asDni.dirty)">
                                    <div *ngIf="asDni.errors?.['required']">
                                        <span style="color: red;">Campo requerido</span>
                                    </div>
                                    <div *ngIf="asDni.errors?.['pattern']">
                                        <span style="color: red;">Complete con 8 numeros</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Nombre">Nombre:</label>
                                <input type="text" name="nombre" [(ngModel)]="administrativo.nombre" required="true"
                                    #asNombre="ngModel" class="form-control">
                                <div *ngIf="asNombre.invalid && asNombre.touched">
                                    <div *ngIf="asNombre.errors?.['required']">
                                        <span style="color: red;">Campo requerido</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="apellidos">Apellidos:</label>
                                <input type="text" name="apellidos" [(ngModel)]="administrativo.apellidos"
                                    required="true" #asApellidos="ngModel" class="form-control">

                                <div *ngIf="asApellidos.invalid && asApellidos.touched">
                                    <div *ngIf="asApellidos.errors?.['required']">
                                        <span style="color: red;">Campo requerido</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="text" name="email" [(ngModel)]="administrativo.email" required="true"
                                    email="true" #asEmail="ngModel" class="form-control">
                                <div *ngIf="asEmail.invalid && asEmail.touched">
                                    <div *ngIf="asEmail.errors?.['required']">
                                        <span style="color: red;">Campo requerido</span>
                                    </div>
                                    <div *ngIf="asEmail.errors?.['email']">
                                        <span style="color: red;">Ingrese un email válido</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="username">Nombre de usuario</label>
                                <input type="text" name="username" [(ngModel)]="administrativo.usuario.username"
                                    required="true" minlength="4" maxlength="15" #asUsername="ngModel" class="form-control">
                                <div *ngIf="asUsername.invalid && (asUsername.touched || asUsername.dirty)">
                                    <div *ngIf="asUsername.errors?.['required']">
                                        <span style="color: red;">Campo requerido</span>
                                    </div>
                                    <div *ngIf="asPassword.errors?.['maxlength']">
                                        <span style="color: red;">Ingrese entre 4 y 15 caracteres</span>
                                    </div>
                                    <div *ngIf="asPassword.errors?.['minlength']">
                                        <span style="color: red;">Ingrese entre 4 y 15 caracteres</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" name="password" [(ngModel)]="administrativo.usuario.password"
                                    required="true" minlength="8" maxlength="15" #asPassword="ngModel" class="form-control">
                                <div *ngIf="asPassword.invalid && (asPassword.touched || asPassword.dirty)">
                                    <div *ngIf="asPassword.errors?.['required']">
                                        <span style="color: red;">Campo requerido</span>
                                    </div>
                                    <div *ngIf="asPassword.errors?.['maxlength']">
                                        <span style="color: red;">Ingrese entre 8 y 15 caracteres</span>
                                    </div>
                                    <div *ngIf="asPassword.errors?.['minlength']">
                                        <span style="color: red;">Ingrese entre 8 y 15 caracteres</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="role">Tipo de usuario</label>
                                <br>
                                <input #asTipo type="checkbox" (change)="tipo($event)"> ADMIN                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="wrapper">
                            <input *ngIf="!estadoBoton" type="submit" [disabled]="!asForm.form.valid" value="Guardar" class="btn btn-outline-primary">
                            <input *ngIf="estadoBoton" type="submit" [disabled]="!asForm.form.valid" value="Editar" class="btn btn-outline-primary">
                            <button (click)="cancelar()" type="button" class="btn btn-outline-danger" style="margin-left: 20px;">Cancelar</button>
                        </div>

                    </div>
                </form>
            </div>
            <div class="row">
                <h5>LISTA DE ADMINISTRATIVOS</h5>
                <table class="table table-striped">
                    <thead>
                        <tr bgcolor="skyblue" class="text-center">
                            <th scope="col">DNI</th>
                            <th scope="col">NOMBRES</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">USUARIO</th>
                            <th scope="col">ACCION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let admin of administrativos" class="text-center">
                            <td>{{admin.dni}}</td>
                            <td>{{admin.nombre}}, {{admin.apellidos}}</td>
                            <td>{{admin.email}}</td>
                            <td>{{admin.usuario.username}}</td>
                            <td>
                                <a (click)="eliminar(admin)" class="aaccion">
                                    <img class="img-accion" src="../../../../assets/img/eliminar.png" alt="">
                                </a>
                                <a (click)="ver(admin)" class="aaccion" style="margin-left: 10px;">
                                    <img class="img-ver" src="../../../../assets/img/ver.png" alt="">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span *ngIf="mensajeLista" style="color: red;">{{mensajeLista}}</span>
            </div>
        </div>
    </div>
</div>