<app-visualizacion-imagen *ngIf="nombreImagen && mostrarImagen" [mostrar]="mostrarImagen" [tipo]="tipo"
    [nombre]="nombreImagen" (cerrar)="mostrarImagen = $event">
</app-visualizacion-imagen>

<div class="stilo-modal" *ngIf="estado_modal">
    <div class="wrapper">
        <div class="contenedor">
            <div class="row">
                <h5>Lista de taxis</h5>
                <span class="sspan" (click)="cerrar()">X</span>
            </div>
            <div class="row">                
                <table class="table table-striped">                    
                    <thead>
                        <tr> 
                            <td>
                                <button (click)="buscar()" class="btn btn-outline-green">Buscar</button>
                            </td>
                            <td>
                                <input type="date" name="fecha" [(ngModel)]="data.fecha">
                                <input type="date" name="fecha2" [(ngModel)]="data.fecha2">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button (click)="listar()" class="btn btn-outline-primary">Refrescar</button>
                            </td>
                            <td></td>
                        </tr>
                        <tr bgcolor="skyblue">
                            <th scope="col">#</th>                           
                            <th scope="col">Codigo</th>                            
                        </tr>                        
                    </thead>
                    <tbody>
                        <tr *ngFor="let pago of pagos">
                            <td>
                                <table>
                                    <tr>
                                        <td *ngIf="!pago?.comprobante">{{pago.idpago}}</td>
                                        <td *ngIf="pago?.comprobante">
                                            <img (click)="mostrarImg(pago.comprobante)" style="width: 50px; height: 50px; object-fit: cover;" src="{{url_backend}}/pago/imagen/{{pago.comprobante}}" alt="">
                                        </td>
                                    </tr>
                                </table>
                            </td>                   
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            {{pago.codigo}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span style="color: blue;">Fecha :</span>
                                            {{pago.fecha | date: 'dd/MM'}}
                                            <span style="color: blue;">Total :</span>
                                            S/. {{pago.total}}
                                        </td>
                                    </tr>
                                </table>
                            </td>                   
                        </tr>
                    </tbody>
                </table>
                <span style="color: red;" *ngIf="mensajeLista">{{mensajeLista}}</span>
            </div>
        </div>
    </div>
</div>
