<div class="wrapper">
    <div class="login">
        <h3>Nueva Contraseña</h3>
        <form (ngSubmit)="enviar()" #asForm="ngForm">
            <div class="form-group">
                <label for="password">Nueva Contraseña</label>
                <input type="password" name="username" [(ngModel)]="cpdto.password" required="true">
            </div>
            <div class="form-group">
                <label for="confirmarPassword">Confirmar Contraseña</label>
                <input type="password" name="password" [(ngModel)]="cpdto.confirmarPassword"
                    required="true">
            </div>
            <input type="submit" [disabled]="!asForm.form.valid" value="Enviar">
        </form>
    </div>
</div>