/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; width: 100%; margin: 0; }

.marker {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    /*background-image: url("./assets/img/ubicacion.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.marker-blue {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: blue;
    /*background-image: url("./assets/img/ubicacion.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}