.contenedor{
    margin: 0.5rem;
}
label, h2,a{
    color: black;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button{
    display:block;
   margin: auto;
  margin-top: 2rem;
  background: red;
  width: 8rem;
  height: 2.5rem;
  border-radius: 10%;
  margin-bottom: 2rem;
  }